body {
    background-image: url('bg.jpg');
    background-size: cover;
}
.auto-card-name {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5vh;
    display: inline-block;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    text-align: center;
    line-height: 6vh;
    font-size: 3vh;
    color: white;
}
.keypad-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    height: 53vh;
    height: auto;
}
.keypad {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 90vw;
    height: auto;
    border-spacing: 2px;
}
.keypad td {
    background-color: rgba(200,200,200,0.7);
    cursor: pointer;
    font-size: 4vh;
    border: 1px solid rgba(0,0,0,0.4);
    text-align: center;
    text-transform: uppercase;
    width: 30vw;
    height: 12vh;
}
.keypad td:active {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.keypad .clear {
    background-color: rgba(255,200,200,0.7);
    font-weight: 800;
}
.keypad .add {
    background-color: rgba(200,255,200,0.7);
    font-weight: 800;
}
.card-list-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 60vh;
    bottom: 4vh;
    height: auto;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    overflow: scroll;
}
.card-list {
    padding: 0;
    color: white;
}
.card-list li {
    display: inline-block;
    position: relative;
    width: 96%;
    height: 6vh;
    text-align: left;
    padding-left: 4%;
    line-height: 8vh;
    /*background-color: rgba(255,255,255,0.5);*/
    border-bottom: 1px solid rgba(255,255,255,0.4);
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 4vh;
}
.pick-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: inline-block;
    width: 100vw;
    background-color: rgba(0,0,0,1);
    text-transform: uppercase;
    text-align: center;
    line-height: 6vh;
    font-size: 3vh;
    color: white;
}