@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Poiret+One|Monda|Ubuntu+Condensed|Inconsolata|Pathway+Gothic+One|Voltaire|Montserrat|Roboto+Condensed);
/* 
http://www.google.com/fonts#UsePlace:use/Collection:Playfair+Display|Poiret+One|Monda|Ubuntu+Condensed|Inconsolata|Pathway+Gothic+One|Voltaire|Montserrat|Roboto+Condensed
*/
::-webkit-scrollbar {
    display: none; 
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-image: url('../img/bg_brown.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.app {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(40,40,40,1);
    text-transform: uppercase;
    font-size: 3vh;
    color: white;
    text-align: center;
    font-family: Monda;
    overflow: hidden;
}
.start-input {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-size: 3vh;
    color: white;
    text-align: center;
    font-family: Monda;
}
.start-input .data {
    height: 20vh;
    width: 100vw;
    margin-top: 5vh;
}
.start-input table {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.btn {
    height: 10vh;
    width: 30vw;
    background-color: rgba(200,200,200,0.5);
    border: 1px solid rgba(0,0,0,0.4);
    line-height: 8vh;
    font-size: 12vh;
    color: black;
}
.btn:active {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.start-input table td {
    width: 30vw;
}

.number {
    height: 10vh;
    width: 30vw;   
    line-height: 10vh;
    font-size: 8vh;
}
#btnStart {
    height: 15vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgba(20,100,20,0.4);
    line-height: 15vh;
    border: 1px solid rgba(10,50,10,0.8);
}
#btnStart:active {
    background-color: rgba(20,100,20,0.6);
}

.info-container {
    position: fixed;
    top: -15vh;
    left: 0;
    right: 0;
    height: 15vh;
    overflow: hidden;
}
.pick-info {
    font-family: Voltaire;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 6vh;
    font-size: 3vh;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
.card-number-viewer {
    font-family: Monda;
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    height: 5vh;
    display: inline-block;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
.auto-card-name {
    font-family: Voltaire;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    height: 5vh;
    display: inline-block;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
.keypad-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.keypad {
    font-family: Monda;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 90vw;
    border-spacing: 2px;
}
.keypad td {
    background-color: rgba(200,200,200,0.5);
    cursor: pointer;
    font-size: 5vh;
    border: 1px solid rgba(0,0,0,0.4);
    text-align: center;
    text-transform: uppercase;
    width: 30vw;
}
.keypad td:active {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.keypad .clear {
    background-color: rgba(255,200,200,0.7);
    font-weight: 800;
}
.keypad .add {
    background-color: rgba(200,255,200,0.7);
    font-weight: 800;
}
.booster-viewer {
    position: fixed;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    background-color: rgba(30,30,30,1);
}
.booster-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: black;
    color: white;
    font-family: Voltaire;
    font-size: 5vh;
    line-height: 10vh;
    text-align: center;
}
.card-list-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 0;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: scroll;
}
.card-list {
    padding: 0;
    color: white;
}
.card-list li {
    display: inline-block;
    position: relative;
    width: 90vw;
    height: 6vh;
    text-align: left;
    line-height: 8vh;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 2.5vh;
}
.pick-selector {
    text-transform: uppercase;
    position: absolute;
    font-size: 2vh;
    float: right;
    background-color: green;
    background-color: rgba(50,100,50,1);
    border-radius: 5px;
    color: white;
    top: 0.5vh;
    right: 0.5vh;
    bottom: 0.5vh;
    line-height: 4.5vh;
    padding: 0.5vh;
}
.output-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    display: none;
}
table {
    border-spacing: 0;
}
.header {
    font-size: 3vh;
    font-family: Monda;
}
.header td {
    background-color: black;
    color: white;
}
.even td {
    font-size: 2vh;
    font-family: Monda;
    background-color: rgba(200,200,200,1);
    border-bottom: 1px solid #666666;
}
.odd td {
    font-size: 2vh;
    font-family: Monda;
    border-bottom: 1px solid #666666;
}

.action-container {
    display: none;
    position: absolute;
    top: 17.5vh;
    left: 0;
    right: 0;
    height: 25vh;
    background-color: rgba(0,0,0,0.2);
    border-top: solid 0.2vh rgba(0,0,0,0.1);
    border-bottom: solid 0.2vh rgba(255,255,255,0.1);
}
.action-right {
    background-image: url('../img/icon-right.png');
    float: right;
    width: 20vw;
    height: 15vh;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-top: 5vh;
    margin-right: 2vw;
    opacity: 0.1;
}
.action-left {
    background-image: url('../img/icon-left.png');
    float: left;
    width: 20vw;
    height: 15vh;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-top: 5vh;
    margin-left: -4.7vw;
    opacity: 0.1;
}
.action-middle {
    position: absolute;
    left: 0;
    right: 0;
    height: 25vh;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.btnAction {
    display: inline-block;
    height: 25vh;
    width: 100vw;
    text-align: center;
    margin-right: -60vw;
}
.btnAction img {
    width: 16vw;
    padding: 5vh;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255,255,255,1));
    filter: url(shadow.svg#drop-shadow);
    opacity: 0.5;
}
.btnAction p {
  text-transform: uppercase;
  font-family: Monda;
  margin-top: -3vh;
  opacity: 0.5;
}
.action-middle::-webkit-scrollbar { 
    display: none; 
}






.btnChessClock {
    background-color: #646464;
    position: relative;
    margin: 5vh;
    border-radius: 1.5vw;
    height: 35vh;
    cursor: pointer;
}
.btnActive:active {
    background-image: radial-gradient(center center, circle cover, #FFE3B3, #FFA200);
    background-image: -o-radial-gradient(center center, circle cover, #FFE3B3, #FFA200);
    background-image: -ms-radial-gradient(center center, circle cover, #FFE3B3, #FFA200);
    background-image: -moz-radial-gradient(center center, circle cover, #FFE3B3, #FFA200);
    background-image: -webkit-radial-gradient(center center, circle cover, #FFE3B3, #FFA200);
}

.btnChessClock p {
    position: absolute;
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 15vh;
    margin: 0;
    line-height: 34vh;
}
.Flipped {
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C compliant browsers */

}

.menuChessClock {
    position: relative;
    height: 10vh;
}

.menuChessClock img {
    height: 6vh;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.menuChessClock img:active {
    -webkit-mask-image:-webkit-linear-gradient(top, rgba(0, 0, 0,.4), rgba(0, 0, 0,.4));
}

.btnHidden {
    -webkit-mask-image:-webkit-linear-gradient(top, rgba(0, 0, 0,.0), rgba(0, 0, 0,.0));
}

.settingsPanel {
    position: absolute;
    z-index: 10;
    top: 100vh;
    left: 0;
    right: 0;
    height: 80vh;
    background-color: rgb(210, 210, 210);
}

.settingsPanel .title {
    font-size: 6vh;
    text-transform: uppercase;
    color: black;
    background-color: #8F8F8F;
    border-bottom: 1px solid #818181;
    border-top: 1px solid #818181;
    height: 10vh;
}
.settingsPanel .content img {
    position: absolute;
    top: 15vh;
    width: 80vw;
    height: 80vw;
    left: 10vw;
    -webkit-mask-image:-webkit-linear-gradient(top, rgba(0, 0, 0,.05), rgba(0, 0, 0,.05));
}

.btnSaveSettings {
    font-size: 5vh;
    text-transform: uppercase;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vh;
    width: 90vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #FFA200;
    border-radius: 1vw;
}

.btnSaveSettings:active {
    background-color: #DA8B04;
}

.btnSettingsMin {
    position: absolute;
    top: 30vh;
    left: 0;
    margin-left: 5vw;
}
.btnSettingsSec {
    position: absolute;
    top: 50vh;
    left: 0;
    margin-left: 5vw;
}
.lblSettingsTime {
    position: absolute;
    text-align: center;
    width: 90vw;
    font-size: 8vh;
    margin-left: 5vw;
    color: black;
}
.lblSettingsTime.minutes {
    top: 18vh;
}
.lblSettingsTime.seconds {
    top: 38vh;
}

/* SLIDER STYLE */
input[type=range] {
    -webkit-appearance: none;
    background: rgba(0,0,0,0);
    width: 90vw;
}
input[type=range]:focus {
    outline: none;
}
/* Slider */
input[type=range]::-webkit-slider-runnable-track {
    height: 10vw;
    cursor: pointer;
    animate: 0.2s;
    background: rgba(0,0,0,0.4);
    border-radius: 10vw;
    padding: 0.5vw;
}
/* Thumb */
input[type=range]::-webkit-slider-thumb {
    border: 0.2vh solid rgb(120,120,120);
    height: 9vw;
    width: 9vw;
    border-radius: 9vw;
    background: -webkit-radial-gradient(rgb(220,220,220), rgb(200,200,200), rgb(160,160,160));
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(0,0,0,0.4);
}


/* Mozilla + IE */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}