@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Poiret+One|Monda|Ubuntu+Condensed|Inconsolata|Pathway+Gothic+One|Voltaire|Montserrat|Roboto+Condensed);
/* 
http://www.google.com/fonts#UsePlace:use/Collection:Playfair+Display|Poiret+One|Monda|Ubuntu+Condensed|Inconsolata|Pathway+Gothic+One|Voltaire|Montserrat|Roboto+Condensed
*/
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-image: url('../img/bg_brown.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.start-input {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-size: 3vh;
    color: white;
    text-align: center;
    font-family: Monda;
}
.start-input .data {
    height: 20vh;
    width: 100vw;
    margin-top: 5vh;
}
.start-input table {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.btn {
    height: 10vh;
    width: 30vw;
    background-color: rgba(200,200,200,0.5);
    border: 1px solid rgba(0,0,0,0.4);
    line-height: 8vh;
    font-size: 12vh;
    color: black;
}
.btn:active {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.start-input table td {
    width: 30vw;
}

.number {
    height: 10vh;
    width: 30vw;   
    line-height: 10vh;
    font-size: 8vh;
}
#btnStart {
    height: 15vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgba(20,100,20,0.4);
    line-height: 15vh;
    border: 1px solid rgba(10,50,10,0.8);
}
#btnStart:active {
    background-color: rgba(20,100,20,0.6);
}

.info-container {
    position: fixed;
    top: -15vh;
    left: 0;
    right: 0;
    height: 15vh;
    overflow: hidden;
}
.pick-info {
    font-family: Voltaire;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 6vh;
    font-size: 3vh;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
.card-number-viewer {
    font-family: Monda;
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    height: 5vh;
    display: inline-block;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
.auto-card-name {
    font-family: Voltaire;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    height: 5vh;
    display: inline-block;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh;
    color: white;
    background-color: rgba(0,0,0,0.4);
}
.keypad-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}
.keypad {
    font-family: Monda;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 90vw;
    border-spacing: 2px;
}
.keypad td {
    background-color: rgba(200,200,200,0.5);
    cursor: pointer;
    font-size: 5vh;
    border: 1px solid rgba(0,0,0,0.4);
    text-align: center;
    text-transform: uppercase;
    width: 30vw;
}
.keypad td:active {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.keypad .clear {
    background-color: rgba(255,200,200,0.7);
    font-weight: 800;
}
.keypad .add {
    background-color: rgba(200,255,200,0.7);
    font-weight: 800;
}
.booster-viewer {
    position: fixed;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    background-color: rgba(30,30,30,1);
}
.booster-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: black;
    color: white;
    font-family: Voltaire;
    font-size: 5vh;
    line-height: 10vh;
    text-align: center;
}
.card-list-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 0;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: scroll;
}
.card-list {
    padding: 0;
    color: white;
}
.card-list li {
    display: inline-block;
    position: relative;
    width: 90vw;
    height: 6vh;
    text-align: left;
    line-height: 8vh;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 2.5vh;
}
.pick-selector {
    text-transform: uppercase;
    position: absolute;
    font-size: 2vh;
    float: right;
    background-color: green;
    background-color: rgba(50,100,50,1);
    border-radius: 5px;
    color: white;
    top: 0.5vh;
    right: 0.5vh;
    bottom: 0.5vh;
    line-height: 4.5vh;
    padding: 0.5vh;
}
.output-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    display: none;
}
table {
    border-spacing: 0;
}
.header {
    font-size: 3vh;
    font-family: Monda;
}
.header td {
    background-color: black;
    color: white;
}
.even td {
    font-size: 2vh;
    font-family: Monda;
    background-color: rgba(200,200,200,1);
    border-bottom: 1px solid #666666;
}
.odd td {
    font-size: 2vh;
    font-family: Monda;
    border-bottom: 1px solid #666666;
}

.action-container {
    display: none;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    height: 25vh;
}
.action-right {
    background-image: url('../img/icon-right.png');
    float: right;
    width: 20vw;
    height: 15vh;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-top: 5vh;
    margin-right: 2vw;
    opacity: 0.1;
}
.action-left {
    background-image: url('../img/icon-right.png');
    float: left;
    width: 20vw;
    height: 15vh;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-top: 5vh;
    margin-left: 2vw;
    opacity: 0.1;
    transform: scaleX(-1);
}
.action-middle {
    position: absolute;
    left: 0;
    right: 0;
    height: 25vh;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.btnAction {
    display: inline-block;
    height: 25vh;
    width: 100vw;
    text-align: center;
    margin-right: -60vw;
}
.btnAction img {
    width: 16vw;
    padding: 5vh;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255,255,255,1));
    filter: url(shadow.svg#drop-shadow);
    opacity: 0.5;
}
.btnAction p {
  text-transform: uppercase;
  font-family: Monda;
  margin-top: -3vh;
  opacity: 0.5;
}